[
    {happyshopr, [
        {http_port, 8080},
        {api_keys, [
            {<<"demo-api-key-replace-in-production">>, <<"default">>}
        ]},
        {mnesia_dir, "./data/mnesia"}
    ]},
    {mnesia, [
        {dir, "./data/mnesia"}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h,
                #{level => info,
                  formatter => {logger_formatter, #{
                      single_line => true,
                      max_size => 2048
                  }}
                }
            }
        ]}
    ]}
].
